<p>
  <a routerLink="/expense-categories/create">Create New</a>
</p>
<table class="table">
  <tbody><tr>
    <th>
          Name
      </th>
      <th></th>
      <tr *ngFor="let category of categories">
          <td>
              {{category.name}}
          </td>
          <td>
              <a  class="btn btn-link" routerLink="/expense-categories/{{category.id}}">Edit</a>
              <button type="button" class="btn btn-danger"  (click)="deleteExpenseCategory(category.id)">Delete</button>
          </td>
      </tr>
</tbody></table>
