<table class="table">
  <tbody>
    <tr>
      <th>
        Incurred Date
      </th>
      <th>
        Amount
      </th>
      <th>
        Description
      </th>
      <th>
        Category
      </th>
      <th></th>
    </tr>

    <tr *ngFor="let expense of expenses">
      <td>
        {{expense.incurredAt}}
      </td>
      <td>
        {{expense.amount}}
      </td>
      <td>
        {{expense.description}}
      </td>
      <td>
        {{expense.expenseCategory.name}}
      </td>
      <td>
        <a href="/expenses/{{expense.id}}">Edit</a> |
      </td>
    </tr>

  </tbody>
</table>
