@{
    ViewBag.Title = "Dashboard";
}
<div class="row">
    <div class="col-sm-6">
        <div class="card bg-aqua"><a href="/Expenses">Expenses</a></div>
    </div>
    <div class="col-sm-6">
        <div class="card bg-green"><a href="/ExpenseCategories">Expenses categories</a></div>
    </div>
    <div class="col-sm-6">
        <div class="card bg-yellow"><a href="/ExpensesReport">Expenses report</a></div>
    </div>
</div>