<h2>Edit expense expense</h2>
<hr>
<div class="form-group row">
  <label class="col-sm-2 col-form-label col-form-label-sm">
    Amount: </label>
  <div class="col-sm-6">
    <input type="text" class="form-control" [(ngModel)]="expense.amount" />
  </div>
</div>

<div class="form-group row">
  <label class="col-sm-2 col-form-label col-form-label-sm">
    Description: </label>
  <div class="col-sm-6">
    <input type="text" class="form-control" [(ngModel)]="expense.description" />
  </div>
</div>
<div class="form-group row">
  <label class="col-sm-2 col-form-label col-form-label-sm">
    Category: </label>
  <div class="col-sm-6">
    <select class="form-control" name="categoryId" required [(ngModel)]="expense.categoryId">
      <option *ngFor="let category of categories" [value]="category.id" >{{category.name}}</option>
    </select>
  </div>
</div>
<div class="form-group row">
  <label class="col-sm-2 col-form-label col-form-label-sm">
    IncurredAt: </label>
  <div class="col-sm-6">
    <input type="text" class="form-control" [(ngModel)]="expense.incurredAt" />
  </div>
</div>
<div class="form-group row">
  <div class="offset-sm-2 col-sm-6"><button type="submit" class="btn btn-primary" (click)="updateExpense(expense)">Submit</button>
  </div>
</div>
